/* Reset default margin and padding */
body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}

/* Set background color */
body {
    background-color: #f0f0f0; /* light gray */
}

/* Center header content vertically and horizontally */
header {
    text-align: center;
    padding: 50px 0; /* Adjust as needed */
}


.container {
    display: flex;
    flex-direction: column; /* Arrange sections from top to bottom */
    align-items: center; /* Center content horizontally */
}

.Portrait, .text-wrapper, .icons {
    margin-bottom: 20px; /* Add spacing between sections */
    border: 1px solid #ccc; /* Optional: Add border for visualization */
}

.Portrait {
   order: 1;
}

.text-wrapper {
    order: 2;
}

.icons {
    order: 3;
}
.Portrait img {
	height: 50vh;
	width: auto;
}
/* Center main content vertically and horizontally */

h2 {
    font-size: 24px;
    margin-bottom: 20px; /* Add space below */
}

p {
    font-size: 18px;
    margin-bottom: 20px; /* Add space below */
}

/* Style social media icons */
ul.social-icons {
    list-style-type: none;
    padding: 0;
}

ul.social-icons li {
    display: inline-block;
    margin-right: 10px; /* Add space between icons */
}

ul.social-icons li:last-child {
    margin-right: 0; /* Remove margin for last icon */
}

ul.social-icons li a img {
    width: 40px; /* Adjust icon size */
    height: 40px; /* Adjust icon size */
}